.cart {
  margin: 0 auto;
  width: 1200px;
  padding: 300px 0 100px;

  .orderTitleBox {
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
    .orderTitle {
      font-size: 28px;
      font-weight: 600;
    }
  }

  .cartTable {
    margin-top: 60px;
    width: 1200px;
    text-align: center;

    th {
      padding: 9px 10px 10px 10px;
      border-top: 1px solid #999999;
      background-color: #f7f7f7;
      font-size: 12px;
      color: #333333;
      font-weight: bold;
    }
    td {
      height: 31px;
      padding: 15px 10px 14px 10px;
      color: #777777;
      border-bottom: 1px solid #dbdbdb;
      background: #ffffff;
      vertical-align: middle;
      font-size: 14px;
      font-weight: bold;
      color: #333333;
      border-top: 1px solid #dbdbdb;
    }

    .tdLast {
      border-left: 1px solid #dbdbdb;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.3;
    }

    .cartList {
      display: flex;
      align-items: flex-end;

      h3 {
        padding-left: 8px;
        font-size: 14px;
        line-height: 10px;
      }
      img {
        width: 42px;
        height: 51px;
        object-fit: cover;
      }
    }

    .inputCheck {
      margin: 0;

      &:hover + .checkText {
        background: url(../../assets/images/hover.png) no-repeat 0 0px / contain;
      }

      &:checked + .checkText {
        background: url(../../assets/images/Active.png) no-repeat 0 0px /
          contain;
      }
    }

    .checkText {
      background: url(../../assets/images/nonActive.png) no-repeat 0 0px /
        contain;
      display: inline-block;
      padding: 2px 0 0 6px;
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }
}
