.itemDetail {
  padding-top: 300px;
  padding-bottom: 100px;
  line-height: 1.5;

  .itemDetailContents {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 0 40px;

    .itemDetailImage {
      width: 500px;
      margin-right: 100px;
    }

    .itemInfoBox {
      width: 500px;

      .itemDetailTitle {
        padding-bottom: 30px;
        font-weight: 600;
        font-size: 30px;
      }

      .itemDetailList {
        margin: 10px 0 20px 0;

        .itemPrice {
          display: flex;
          align-items: center;
          width: 100%;
          padding: 4px 0;

          .itemPriceOne {
            margin: 0 50px 0 5px;
            font-size: 18px;
            color: #717171;
            font-weight: 600;
          }

          .itemPriceTwo {
            font-size: 20px;
            font-weight: 600;
          }
        }

        .itemDelivery {
          display: flex;
          align-items: center;
          width: 100%;
          padding: 4px 0;

          .itemDeliveryOne {
            margin: 0 50px 0 5px;
            font-size: 18px;
            color: #717171;
            font-weight: 600;
          }

          .itemDeliveryTwo {
            font-size: 16px;
          }
        }

        .itemOptionBox {
          display: flex;
          align-items: center;
          width: 100%;
          margin: 5px 0 0 0;
          padding: 10px 0 5px 0;

          .itemOptionBoxOne {
            margin: 0 50px 0 5px;
            font-size: 18px;
            color: #717171;
            font-weight: 600;
            width: 100px;
          }

          .itemOptionBoxTwo {
            width: 100%;
            padding: 5px;
            border: 1px solid #717171;
            font-size: 15px;
            color: #717171;
          }
        }
      }

      .totalAmount {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 15px 0 0 0;
        padding: 10px 0 5px 0;
        border-top: 1px solid #dbdbdb;

        .totalAmountOne {
          margin: 0 25px 0 5px;
          font-size: 18px;
          color: #717171;
          font-weight: 700;
          width: 100px;
        }

        .totalPrice {
          font-size: 36px;
          color: #29c1bc;
          font-weight: 600;
        }
      }

      .btnChoiceBox {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;

        .btnAddCart {
          width: 152px;
          height: 52px;
          border: 1px solid #cccccc;
          background-color: #ffffff;
          font-weight: 600;
          font-size: 14px;
        }

        .btnAddOrder {
          width: 230px;
          height: 52px;
          margin: 0 0 0 6px;
          padding: 0 10px 0 10px;
          border: 1px solid black;
          background-color: black;
          text-align: center;
          font-weight: 600;
          font-size: 14px;
          color: white;
        }
      }
    }
  }
}
