$saleFontColor: #ff6350;
$saleFontFamily: 'Montserrat';
$userMenuColor: #717171;
$userMenuHoverColor: #333;
//BaeminColor
$baeminPointColor: #30c1c3;
$grayBackgroundColor: #eaeaea;
$themeBorder: 1px solid #eaeaea;
