@import '../../styles/variables.scss';

.nav {
  border-bottom: $themeBorder;
  font-family: 'NotoSans';

  .topBar {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 1px;
    background-color: $grayBackgroundColor;
  }

  .navWarp {
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;

    .userMenu {
      width: 100%;
      padding-right: 70px;

      .userMenuText {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 100%;
        max-width: 1200px;
        height: 40px;

        li {
          :hover {
            color: $userMenuColor;
          }

          a {
            text-decoration: none;
            color: $userMenuHoverColor;
            font-size: 12px;
            font-weight: 500;
          }
        }

        .cartNumber {
          margin-left: 4px;
          text-decoration: none;
          font-size: 10px;
          font-weight: bold;
          color: $baeminPointColor;
        }
      }

      .txtBar {
        margin: 0 10px 3px;
        width: 1px;
        height: 8px;
        background-color: $grayBackgroundColor;
      }
    }

    .middle {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 1200px;
      min-width: 1200px;
      height: 103px;

      .logo {
        width: 156px;
      }

      .search {
        display: flex;

        .searchBox {
          position: absolute;
          right: 10px;
          display: flex;
          margin-right: 30px;
          width: 250px;
          border-bottom: 1px solid black;

          input {
            padding: 0;
            margin-bottom: 3px;
            width: 100%;
            border: none;
            outline: none;
            font-size: 14px;
          }
        }

        .searchImg {
          margin-bottom: 3px;
          margin-left: 10px;
          width: 18px;
        }
      }
    }

    .category {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 55px;

      ul {
        display: flex;
        text-align: end;

        li {
          padding: 0 30px;
          margin: 0 30px;
          font-weight: 500;
          font-size: 16px;
          color: #333333;

          :hover {
            color: $userMenuColor;
          }

          a {
            line-height: 55px;
            font-weight: 700;
            text-decoration: none;
            color: $userMenuColor;
          }
          //클릭했을 때 title 변화!
          .active {
            position: absolute;
            height: 35px;
            border-bottom: 2px solid $baeminPointColor;
            font-weight: bold;
            color: $baeminPointColor;
          }
        }
      }
    }
  }
}
